@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
body {
  width: 100%;
  height: 100vh;
  background: url("../images/bgins.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 100;
}

.box-imput {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15vh;
  margin: auto;
  padding: 20px;
  width: calc(100% - 70vw);
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  backdrop-filter: blur(3px);
}
.titre-page-info {
  font-size: 2.5rem;
  text-align: center;
}
.message-php {
  height: 25px;
  text-align: center;
  margin: 5px 0;
}
.imput {
  margin-top: 25px;
}
.imputi {
  line-height: 30px;
}
.validation {
  margin-top: 25px;
  text-align: center;
}
.redirection {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn-valide2 {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: none;
  border-radius: 6px;
}
.btn-valide2 a {
  color: #122228;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
}
.btn-valide2:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
  background: #122228;
  border: 1px solid whitesmoke;
}
.btn-valide2 a:hover {
  color: whitesmoke;
}
.texte-pseudo {
  font-size: 18px;
}
#Pseudo,
#password,
#mail,
#password2 {
  padding: 2px;
  font-size: 18px;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 10px;
}
#Pseudo3,
#password3,
#mail3,
#password4 {
  padding: 2px;
  font-size: 18px;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 10px;
}
.btn-valide {
  background: whitesmoke;
  border: none;
  border-radius: 2px;
  color: #122228;
  width: 85px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}
.btn-valide:hover {
  transition-duration: 0.3s;
  color: whitesmoke;
  background: #122228;
}
.recup-mdp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -5px;
}
.recup-mdp1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0px;
}

.recup-mdp1 label{
  cursor: pointer;
}

.nouveau {
  display: flex;
  flex-direction: row;
}
.nouveau a,
.recup-mdp a {
  color: whitesmoke;
}
.nouveau a:hover,
.recup-mdp a:hover {
  color: #2b6684;
}
.space {
  width: 5px;
  height: 2px;
}
#isme {
  margin-top: 10px;
  margin-left: 10px;
}
.color-erreur {
  color: red !important;
}
.color-success {
  color: green !important;
}
.container-valid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-valid {
  font-size: 18px;
}
.btn-retour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 85px; */
  margin-top: -10px;
}
.btn-retour a {
  color: whitesmoke;
}
.btn-retour a:hover {
  color: #2b6684;
}

#New-mdp, #RNew-mdp {
  padding: 2px;
  font-size: 18px;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  
  .box-imput {
    width: calc(100% - 40vw);
  }

}

@media screen and (max-width: 500px) {
  
  .box-imput {
    width: calc(100% - 10vw);
  }

}
