@font-face {
  font-family: "Roboto";
  src: url('../font/Roboto-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}
#retour {
  display: none;
}
.body-footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  background-color: #122228;
  color: white;
}
.box-footer a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
.box-footer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.copy {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
}
.logo-reseaux {
  width: 3vw;
  min-width: 40px;
  height: 3vw;
  min-height: 50px;
  margin-left: 30px;
}
.textefooter {
  margin: 0 5px;
  font-family: "Roboto";
}
.link li {
  list-style: none;
}
@media (max-width: 870px) {
  .box-footer {
    flex-direction: column;
  }
}
@media (max-width: 605px) {
  .copy {
    flex-direction: column;
    align-items: center;
  }
}
