@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto-Regular.ttf');
}

header {
    font-family: 'Roboto', sans-serif;;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #0A1417;
    box-shadow: 0 1px 16px black;
    position: sticky;
    top: 0px;
    z-index : 9;
}

#logo-navbar {
    margin-left: 5vw;
    max-width: 120px;
    max-height: auto;
}

.nav-choice a {
    text-decoration: none;
    color: white;
}

#nav-btn {
    background-color: #2b6684;
    padding: 8px;
    border-radius: 2px;
    transition: 0.2s;
}

#nav-btn:hover {
    background-color: #032E42;
}

#hamburger, #nav-list-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-choice {
    margin-right: 40px;
    list-style: none;
}

#hamburger-button {
    display: none;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 50px;
    padding: 0;
    vertical-align: top;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 20, 23, 0.4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 60%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

#hamburger-sidebar li {
    display: block;
}

#hamburger-sidebar-header {
    background-color: #122228;
    height: 92px;
}

#logo-sidebar {
    margin-top: 19px;
    max-width: 120px;
    max-height: auto;
    transform: translateX(30%);
}

#hamburger-sidebar-body {
    background-color: #122228;
    height: 100%;
    padding: 16px 8px;
}

@media screen and (max-width: 860px) {

    #nav-list-choice {
        align-items: flex-start;
        flex-direction: column;
    }

    .nav-choice {
        margin-top: 40px;
        margin-left: 20px;
    }

    #hamburger-content{
        display: none;
    }

    #hamburger, #humburger-content{ 
        display: inline;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0%);
    }
}