@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0a1417;
  color: #fff;
}

#corps-video {
  display: flex;
  justify-content: space-evenly;
}

#video {
  width: 55vw;
  display: flex;
  flex-direction: column;
}
#video h2,
#section-commentaire {
  margin-top: 2rem;
}

#video-player,
#video p {
  margin-top: 1rem;
}

#desc {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

#video-player {
  width: 100%;
}

#readButton {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 3vh;
  cursor: pointer;
}

#readButton:hover {
  color: #989898;
}

#section-commentaire {
  width: 30vw;
  max-height: 70vh;
  background-color: #122228;
  padding: 1rem;
}

#section-commentaire h2 {
  padding-bottom: 1rem;
}

#section-commentaire img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.visu-commentaire {
  display: flex;
  width: 100%;
  font-size: 1rem;
}

.container-commentaire {
  background-color: #032e42;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 3vh;
}

.data-commentaire {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: rgb(171, 171, 171);
}

.texte-commentaire {
  margin: 10px 20px;
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}

#textarea-commentaire {
  width: 85%;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 3px;
}

#section-commentaire h3 {
  margin: 2vh 0;
}

#commentaire-btn {
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(0.5vh);
}

#commentaire-btn img,
#replace-btn img {
  width: 20px;
  height: auto;
}

#comment_form {
  display: flex;
}

#commentaire-detail {
  display: inline-flex;
  width: 30px;
  margin-left: 2vh;
  flex-direction: column;
}

#scrolled {
  height: 55vh;
  overflow-y: scroll;
}

#crud_com {
  display: inherit;
}

#crud_com i,
a {
  width: 20px;
  height: auto;
  margin-left: 1vh;
}

#crud_com .editUserCom:hover {
  color: rgb(110, 110, 110);
  cursor: pointer;
}

#crud_com .deleteUserCom:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

#info-com {
  display: flex;
  justify-content: space-between;
}

#textarea-replace {
  width: 80%;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 3px;
  margin-left: 10px;
}

#replace-btn {
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-2vh);
}

@media screen and (max-width: 1180px) {
  #corps-video {
    flex-direction: column;
  }

  #video {
    width: 80vw;
    margin: auto;
  }

  #section-commentaire {
    width: 75vw;
    margin: auto;
  }

  #section-commentaire img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container-commentaire {
    max-width: 90%;
  }

  #textarea-commentaire {
    width: 80%;
  }

  .data-commentaire {
    flex-direction: column;
  }
}
/* Like dislike */
.likeContainer {
  min-height: 50px;
  background-color: #0a1417;
  justify-content: flex-end;
  display: flex;
}
.likeContainer i {
  cursor: pointer;
}

.likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #0a1417;
  color: white;
  font-size: 1.4em;
  transition: all 0.3s ease;
}
.likeButton i {
  transition: all 0.1s ease-in-out;
}
.likeButton i:hover {
  color: rgba(3, 181, 3, 0.647);
  transform: scale(1.2);
}
.dislikeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #0a1417;
  color: white;
  font-size: 1.4em;
}
.displikeyButton i {
  transition: all 0.1s ease-in-out;
}
.dislikeButton i:hover {
  color: rgba(162, 2, 2, 0.612);
  transform: scale(1.2);
}
.activeL {
  color: rgb(3, 181, 3);
  transform: scale(1.1);
}
.activeD {
  color: rgb(162, 2, 2);
  transform: scale(1.1);
}
/*Bar like/dislike */
.fillbarContainer {
  display: flex;
  justify-content: flex-end;
}
.fillbar {
  position: relative;
  display: block;
  width: 90px;
  height: 3px;
  border: 1px solid #000000;
  border-radius: 2px;
  background: rgb(3, 181, 3);
}
.gauge {
  position: absolute;
  right: 0;
  top: 0px;
  display: block;
  content: "";
  height: 3px;

  background: #1e222c;
}
.underVid {
  display: flex;

  flex-direction: column;
}
.viewsCount {
  font-weight: bold;
  justify-self: flex-start;
  align-self: center;
  width: 100%;
}
